version: '3.8'

services:
  mongodb:
    image: mongo:7
    container_name: mongo-projects
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
